# Better Auth - Configuration
BETTER_AUTH_SECRET=f2363c1c56978816b56d678e65ccfdeccc9bcf3176e4b8b120ae9a65b68b8f85

# Gateway Configuration
AI_GATEWAY_BASE_URL=http://localhost:8080
AI_GATEWAY_API_KEY=***

# SimpleLogin API
SIMPLELOGIN_API_KEY=your-s...-key

# Admin login
ADMIN_PASSWORD=your-admin-password-here

# Payments and tracking
AUTUMN_SECRET_KEY=***